<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset=utf-8>
    <meta name="viewport" content="width=device-width, initial-scale = 1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="manifest" href="/manifest.json">
    <meta name="theme-color" content="#ae0907">
    <meta name="description" content="Première communauté collaborative et solidaire de freelances">
    <title>{{ title }} - {{ slogan }}</title>
    <!-- build:css -->
    <link rel="stylesheet" type="text/css" href="../../src/css/index.css" />
    <!-- endbuild -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="src/images/dist/icon-144.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="src/images/dist/icon-114.jpg">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="src/images/dist/icon-72.jpg">
    <link rel="apple-touch-icon-precomposed" href="src/images/dist/icon-57.jpg">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1"
        crossorigin="anonymous">
    <link rel="shortcut icon" href="src/images/dist/icon-32.jpg">
    <meta name="theme-color" content="#ae0907">
</head>

<body>
    {% include "navBar.html" %} {% include "home.html" %} {% include "mission.html" %} {% include "community.html" %} {% include
    "how.html" %} {% include "model.html" %} {% include "who.html" %} {% include "notYet.html" %} {% include "contact.html"
    %}
    <div class="footer">
        <p>&copy; 2018 {{ title }}</a>
        </p>
    </div>
    <div class="scrollup">
        <a href="#">
            <i class="fas fa-arrow-up"></i>
        </a>
    </div>
    <!-- build:js -->
    <script src="../../src/js/jquery.js"></script>
    <script type="text/javascript" src="../../src/js/jquery.mixitup.js"></script>
    <script type="text/javascript" src="../../src/js/bootstrap.js"></script>
    <script type="text/javascript" src="../../src/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="../../src/js/jquery.placeholder.js"></script>
    <script type="text/javascript" src="../../src/js/app.js"></script>
    <!-- endbuild -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-117591211-1"></script>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-117591211-1');
    </script>
</body>

</html>