<div class="section secondary-section " id="community">
  <div class="container">
    <div class=" title">
      <h2>Une communauté collaborative et <span class="no-wrap">solidaire<span class="title-ponctuation black">.</span></span></h2>
      <p>En nous rassemblant, nous avons réuni les conditions idéales pour exercer notre métier</p>
    </div>
    <div class="community_list">
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">Tous freelances, Tous free</p>
          <div>
              Les freelances de la communauté {{ title }} sont tous en mission.
          </div>
        </div>
      </div>
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">AutoAdministrés</p>
          <div>Nous nous sommes organisés en une communauté collaborative et solidaire qui s’autoadministre.</div>
        </div>
      </div>
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">Connectés</p>
          <div>Nous avons mis en commun nos réseaux pour maximiser le nombre d’opportunités de missions.</div>
        </div>
      </div>
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">Tech focus</p>
          <div>Nous avons défini des process de qualification technique des missions et des compétences.</div>
        </div>
      </div>
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">Recommandés</p>
          <div>Nous avons créé une nouvelle approche du marché basée sur la recommandation entre freelances.</div>
        </div>
      </div>
      <div class="community_item">
        <div class="inner">
          <p class="community_item_title">Garants</p>
          <div>Nous garantissons les conditions les plus basses du marché, fixes et transparentes et nous sécurisons les règlements.</div>
        </div>
      </div>
    </div>
  </div>
</div>