<div class="section primary-section " id="contact">
  <div class="triangle"></div>

  <div class="container">
    <div class="title">
      <h2>Join us</h2>
    </div>
    <div class="row list">
      <div class="">
        <i class="fas fa-users"></i>
        <p>
          La communauté est ouverte à tous, librement, gratuitement, sans
          engagement.
        </p>
      </div>
      <div class="">
        <i class="fas fa-hands-helping"></i>
        <p>
          Tu peux solliciter la communauté pour te trouver une mission ou un
          dev.
        </p>
      </div>
      <div class="">
        <i class="fas fa-hand-point-down"></i>
        <p>
          Tu peux devenir te joindre a la communauté en recommandant une mission
          ou un devfreelance.
        </p>
      </div>
    </div>
  </div>

  <div class="container">
    <div class=" contact-container">
      <div class=" contact-form centered">
        <div id="successSend" class="notification special-blue invisible">
          <i class="fas fa-check"></i>
          <strong>Merci</strong> Votre message a été envoyé avec succès.
        </div>
        <div id="errorSend" class="notification invisible">
          <i class="fas fa-exclamation-circle"></i>
          Votre message n'a pas pût être envoyé.
        </div>

        <form
          id="contact-form"
          name="contact"
          method="POST"
          data-netlify="true"
        >
          <div class="control-group">
            <div class="controls">
              <input
                class="cluster-input"
                type="text"
                id="name"
                name="name"
                placeholder="* Nom prénom..."
              />
              <div class="error left-align" id="err-name">
                Veuillez saisir votre nom.
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input
                class="cluster-input"
                type="email"
                name="email"
                id="email"
                placeholder="* Email..."
              />
              <div class="error left-align" id="err-email">
                Veuillez saisir une addresse email valide
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <input
                class="cluster-input"
                type="tel"
                name="phone"
                id="number"
                placeholder="* Num..."
              />
              <div class="error left-align" id="err-number">
                Veuillez saisir votre numéro de téléphone
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="cosntrols">
              <textarea
                class="cluster-input"
                name="motif"
                id="motif"
                placeholder="* Motif de sollicitation de la communauté..."
              ></textarea>
              <div class="error left-align" id="err-comment">
                Veuillez saisir le motif.
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <textarea
                rows="10"
                class="cluster-input"
                name="freefield"
                id="freefield"
                placeholder="* Champs libre..."
              ></textarea>
              <div class="error left-align" id="err-freefield">
                Veuillez saisir le message.
              </div>
            </div>
          </div>
          <div class="control-group">
            <div class="controls">
              <button type="submit" class="message-btn">
                <i
                  id="send-message-loader"
                  class="fas fa-spinner fa-pulse hidden"
                ></i>
                Send message
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
