<div id="home" class="section primary-section">
  <div class="title">
    <div>
      <h1><img alt="Cluster" title="Cluster" src="src/images/dist/logo-main.png" width="820" alt=""></h1>
    </div>
    <h2 class="neon">Créons ensemble une nouvelle ère pour les freelances</h2>
    <p>1ère communauté collaborative et solidaire de freelances</p>
  </div>
  <div class="row-fluid">
    <div class="home-image-container">
    </div>
  </div>
</div>