<div class="section primary-section special-blue" id="how">
    <div class="triangle"></div>
    <div class="container">
        <div class="title">
            <h2>Les compétences techniques au cœur de notre <span class="no-wrap">fonctionnement<span class="title-ponctuation yellow neon">.</span></span></h2>
            <p>Qui de mieux que l’un de tes pairs pour te proposer ta prochaine mission ?</p>
        </div>
        <div class="row-fluid team">
          <div class="how-container">
            <h3><img alt="Cluster" title="Cluster" src="src/images/dist/logo-main.png" width="250" alt="">...</h3>
            <ul class="list-how">
              <li>
                <i class="hero hero-star"></i>
                Te propose des missions en exclusivité
              </li>
              <li>
                <i class="hero hero-star"></i>
                T'explique concrètement et techniquement les missions
              </li>
              <li>
                <i class="hero hero-star"></i>
                Calibre techniquement ton matching avec les missions
              </li>
              <li>
                <i class="hero hero-star"></i>
                Te recommande auprès de ses clients
              </li>
            </ul>
          </div>
        </div>
    </div>
</div>