<div class="section primary-section" id="missions">
  <div class="container">
    <div class="title">
      <h2>Notre vocation: être encore plus
        <span class="no-wrap">libres<span class="title-ponctuation yellow neon">.</span>
        </span>
      </h2>
      <p>Nous avons créé notre propre organisation pour que les freelances de la communauté soient les premiers a profifer de
        l'engouement du marché.</p>
    </div>
    <div class="">
      <div class="mission_list">
        <div class="mission_item">
          <div class="centered service">
            <div class="zoom-in">
              <i class="fas fa-globe"></i>
            </div>
            <h3>La Communauté</h3>
            <div class="mission-list">
              <p class="mission_line">Nous sommes 30 freelances, DevOps, Scrum Master, Lead Dev, Chef de Projets</p>
              <p class="mission_line">Nous sommes tous freelances</p>
              <p class="mission_line">Nous travaillons sur les principales stacks techniques du moment et de demain</p>
              <p class="mission_line">Dans des startups, des pure players et des grands comptes</p>
              <p class="mission_line">Nous nous sommes rassemblés pour coconstruire CLUSTER</p>
            </div>
            <i class="hero hero-star"></i>
          </div>
        </div>
        <div class="mission_item">
          <div class="centered service">
            <div class="zoom-in">
              <i class="fas fa-bolt"></i>
            </div>
            <h3>Notre ambition</h3>
            <div>
              <p class="mission_line">Se recommander des missions qui matchent avec nos compétences</p>
              <p class="mission_line">Nous connecter directement avec les interlocuteurs techniques décideurs</p>
              <p class="mission_line">Travailler avec des conditions financières plus justes et transparentes</p>
              <p class="mission_line">Renforcer la synergie entre freelances </p>
            </div>
            <i class="hero hero-star bottom"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>