<div class="section secondary-section after-special-blue" id="model">
  <div class="triangle"></div>
  <div class="container">
    <div class="title">
      <h2>Un modèle économique révolutionnaire<span class="title-ponctuation yellow ">.</span></h2>
      <p>La communauté redistribue aux freelances qui ont contribué à la concrétisation d'une mision, 100% de la commission générée par le deal.</p>
    </div>
    <div class="row-fluid">
      <h3 class="text-center">Chacun sa part du gâteau.</h3>
      <div class="cake-list">
        <div class="cake-item">
          <i class="hero hero-cake color2"></i>
          <p class="cake-title">Le membre qui a remonté le deal</p>
        </div>
        <div class="cake-item">
          <i class="hero hero-cake bg1"></i>
          <p class="cake-title">Le membre qui a recomandé le freelance</p>
        </div>
        <div class="cake-item">
          <i class="hero hero-cake color3"></i>
          <p class="cake-title">Le membre qui a réalisé la qualification technique</p>
        </div>
        <div class="cake-item cherry">
          <i class="hero hero-cherry"></i>
          <p class="cake-title">Pour tous les membres de la communauté</p>
        </div>
      </div>
    </div>
  </div>
</div>