<div class="navbar">
  <div class="navbar-inner">
    <a href="#home" class="brand">
      <img src="src/images/dist/logo-sm.png" alt="Logo" />
    </a>
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <i class="fas fa-bars"></i>
      </button>
      <div class="nav-collapse collapse pull-right">
        <ul class="nav" id="top-navigation">
          <li>
            <a href="#missions">Mission</a>
          </li>
          <li>
            <a href="#community">Communauté</a>
          </li>
          <li>
            <a href="#how">Fonctionnement</a>
          </li>
          <li>
            <a href="#model">Modèle</a>
          </li>
          <li>
            <a href="#who">we are</a>
          </li>
          <li>
            <a href="#notYet">Devenir freelance</a>
          </li>
          <li>
            <a href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>