<div class="section secondary-section " id="notYet">
  <div class="triangle"></div>
  <div class="container">
    <div class="title">
      <h2>Pas encore freelance
        <span class="red">?</span>
      </h2>
      <p>{{ title}} et Hiway sont partenaires pour accompagner les développeurs à se lancer et réussir dans le freelancing.</p>
    </div>
    <div class="row-fluid center">
      <h3 class="hiway">avec
        <a href="https://hi-way.io/" target="_blank">
          <img alt="hiway" title="hiway" src="src/images/dist/hiway-sm.png" width="150" alt="">
        </a> tu ...</h3>
      <iv class="community_list">
        <div class="community_item">
          <div class="inner">
            <p class="community_item_title">Démarres dans les meilleures conditions</p>
            <div>
              <p>Choix du bon statut juridique.</p>
              <p>Création complète de ta société</p>
            </div>
          </div>
        </div>
        <div class="community_item">
          <div class="inner">
            <p class="community_item_title">T'entoures de spécialistes</p>
            <div>
              <p>Coachs</p>
              <p>Expert-comptable</p>
              <p>Banquier</p>
              <p>Assureur</p>
            </div>
          </div>
        </div>
        <div class="community_item">
          <div class="inner">
            <p class="community_item_title">Signes le bon projet</p>
            <div>
              <p>Coaching pour trouver ta mission</p>
              <p>Négociation</p>
              <p>Contractualisation</p>
            </div>
          </div>
        </div>
        <div class="community_item">
          <div class="inner">
            <p class="community_item_title">Gères facilement et sans erreur</p>
            <div>
              <p>Gestion administrative simplifiée</p>
              <p>Fiscalité maîtrisée</p>
              <p>Préparation du bilan</p>
            </div>
          </div>
        </div>
        <div class="community_item">
          <div class="inner">
            <p class="community_item_title">Gagnes un maximun d'argent</p>
            <div>
              <p>Pilotage financier</p>
              <p>Optimisation fiscale</p>
              <p>Maximisation des revenus</p>
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="row center contact-hiway">
    <p>
      Plus d’infos sur :
    </p>
    <p>
      <a href="http://www.hi-way.io" target="_blank">www.hi-way.io</a>
    </p>
    <p>
      <a href="mailto:contact@hi-way.io?subject=Devenir freelance">contact@hi-way.io</a>
    </p>
  </div>
</div>