<div class="section primary-section" id="who">
    <div class="triangle"></div>
    <div class="container">
        <div class="title">
            <h2>We are {{ title }}<span class="title-ponctuation yellow">.</span></h2>
            <p>
                <blockquote>
                    <p class="inner-cote">
                        Ne doutez jamais qu’un petit groupe de gens réfléchis et engagés puisse changer le monde.
                        <br/>En fait, c’est toujours comme ça que ça s’est passé.
                    </p>
                    <div class="author">MARGARET MEAD (1901-1978, anthropologue)</div>
                </blockquote>
            </p>
        </div>
        <div class="row-fluid team">

            <ul class="client-nav">
                <li id="client-prev"></li>
                <li id="client-next"></li>
            </ul>
            <ul id="clint-slider">
                {% for hero in heroes %}
                <li class="">
                    <div class="thumbnail">
                        <div class="image-container">
                            <img alt="{{hero.name}}" title="{{hero.name}}" class="main-img" src="{{hero.img}}" alt="team 1">
                        </div>
                        <h3 class="hero-name">{{ hero.name }}</h3>
                        <ul class="social">
                            {% if hero.linkedin %}
                            <li>
                                <a href="{{ hero.linkedin }}" target="_blank">
                                    <span class="icon-linkedin-circled"></span>
                                </a>
                            </li>
                            {% endif %} {% if hero.github %}
                            <li>
                                <a href="{{ hero.github }}" target="_blank">
                                    <i class="fab fa-github"></i>
                                </a>
                            </li>
                            {% endif %}
                            <li class="empty-icon">
                                </liclass>
                        </ul>
                        <div class="mask">
                            <h3>{{ hero.title}}</h3>
                            <p class="who_footer">
                                Freelance grâce a
                                <a href="https://hi-way.io/" target="_blank">Hiway</a>
                            </p>
                        </div>
                    </div>
                    </li>
                    {% endfor %}
            </ul>
        </div>
    </div>
</div>