@font-face {
  font-family: "hero";
  src: url('../src/fonts/hero.eot');
  src: url('../src/fonts/hero.eot?#iefix') format('eot'),
    url('../src/fonts/hero.woff2') format('woff2'),
    url('../src/fonts/hero.woff') format('woff'),
    url('../src/fonts/hero.ttf') format('truetype'),
    url('../src/fonts/hero.svg#hero') format('svg');
  font-weight: normal;
  font-style: normal;
}

.hero:before {
  display: inline-block;
  font-family: "hero";
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hero-lg {
  font-size: 1.3333333333333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.hero-2x { font-size: 2em; }
.hero-3x { font-size: 3em; }
.hero-4x { font-size: 4em; }
.hero-5x { font-size: 5em; }
.hero-fw {
  width: 1.2857142857142858em;
  text-align: center;
}

.hero-cake:before { content: "\EA01" }
.hero-cherry:before { content: "\EA02" }
.hero-star:before { content: "\EA03" }