@mixin neon($mainColor, $secondaryColor) {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    /* font: normal 48px/normal "Warnes", Helvetica, sans-serif; */
    color: $secondaryColor;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 0 10px $secondaryColor , 0 0 20px $secondaryColor , 0 0 30px $secondaryColor , 0 0 40px $mainColor, 0 0 70px $mainColor, 0 0 80px $mainColor, 0 0 100px $mainColor;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    
    &:hover {
      text-shadow: 0 0 20px $secondaryColor , 0 0 30px $secondaryColor , 0 0 40px $secondaryColor , 0 0 50px $mainColor, 0 0 80px $mainColor, 0 0 90px $mainColor, 0 0 120px $mainColor;
    }
}