@import './_mixins.scss';
$color1: #dee4b0;
$color2: #ae0907;
$color3: #062333;
$bg-1: rgb(252, 227, 115);
$bg-2: #fafafa;
$color-text1: #062333;
body {
    font-family: 'Dosis', sans-serif; // font-weight: 900;
    color: $color-text1;
    line-height: 1.2em;
    font-size: 17px;
    line-height: 20px;
    width: 100%;
    overflow-x: hidden;
}

a {
    color: $color-text1;
    text-decoration: none;
}

a:hover {
    color: $color1;
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

p {
    padding: 10px;
    font-weight: 100; // color: $color-text1;
}

.navbar {
    background: $color2;
    margin-bottom: 0;
}

.navbar-fixed-top {
    min-height: 60px;
    height: 60px;
    padding-top: 0;
}

.navbar-inner {
    background: $color2;
    border-radius: 0;
    filter: none;
    border: none;
    box-shadow: none;
}

.navbar .nav>li>a {
    text-transform: uppercase;
    line-height: auto;
    vertical-align: middle;
    margin: 10px 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px solid $color2;
    box-shadow: none;
    font-size: 15px;
    text-shadow: none;
    color: $color1;
    transition: border-color 1s ease;
}

.navbar .nav>li:hover>a,
.navbar .nav>.active>a,
.navbar .nav>.active>a:hover,
.navbar .nav>.active>a:focus {
    border: 1px solid $color1;
    color: $color1;
    background-color: $color2;
    transition: border-color 1s ease;
}

.nav-pills {
    margin-bottom: 30px;
}

.nav-pills>li>a {
    background: transparent;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    margin-right: 5px;
    padding-left: 25px;
    padding-right: 25px;
    border: 1px solid $color2;
}

.nav-pills>li>a:hover,
.nav-pills>.active>a,
.nav-pills>.active>a:hover,
.nav-pills>.active>a:focus {
    background: $color2;
    color: $color-text1;
}

.navbar .btn-navbar:hover,
.navbar .btn-navbar {
    border-radius: 0;
    background: $color1;
    color: $color-text1
}

/******
2. Layout
**********************************************************************/

.centered {
    margin-left: auto;
    margin-right: auto;
    float: none;
    text-align: center;
}

/* Use this class if you want ceter element with span* class */

.center {
    float: none !important;
    margin: 0 auto !important;
    text-align: center;
}

.highlighted-box {
    background: #F4F8F9;
    padding: 20px 30px;
}

.highlighted-box h1 {
    margin: 0px;
}

.large-text {
    line-height: 1.2em;
    font-size: 30px;
    color: $color-text1;
    padding: 20px;
    margin-bottom: 20px;
}

.highlighted-box h1,
.highlighted-box p {
    color: $color-text1 !important;
}

.circle-border {
    display: inline-block;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    border-radius: 500px;
    -khtml-border-radius: 500px;
    border: 3px solid $color-text1;
}

.left-align {
    text-align: left;
}

.right-align {
    text-align: left;
}

.error {
    color: #CF0000;
    display: none;
}

.invisible {
    display: none;
    visibility: visible;
}

.hidden {
    display: none!important;
}

.triangle {
    margin: 0 auto;
    text-align: center;
    width: 0;
    height: 0;
    border-top: 30px solid $bg-1;
    border-left: 585px outset transparent;
    border-right: 585px outset transparent;
    position: relative;
}

/*
2.1 Animations
**********/

.zoom-in {
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    -ms-transition: all 250ms ease;
    transition: all 250ms ease;
}

.zoom-in:hover {
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
}

/*
2.2 Buttons - There are buttons on a transparent background, primary and secondary color background.
**********/

.button,
.button:visited,
.button:focus {
    display: inline-block;
    border: 1px solid $color2;
    color: $color-text1;
    background-color: transparent;
    padding: 15px 30px;
    font-size: 17px;
    line-height: auto;
}

.button:hover,
.button:active {
    background-color: $color2;
    color: $color-text1;
}

.button-sp,
.button-sp:visited,
.button-sp:focus {
    border: none;
    background-color: $color1;
    color: $color2;
}

.button-sp:hover,
.button-sp:active {
    background-color: $color2;
    color: $color1;
}

.button-ps,
.button-ps:visited,
.button-ps:focus {
    border: none;
    background-color: $color2;
    color: $color1;
}

.button-ps:hover,
.button-ps:active {
    background-color: $color1;
    color: $color2;
}

/*
2.3 Thumbnails - Predefined bootstrap's thumbnail class.
**********/

.thumbnail {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    position: relative;
    border: 0;
    border-radius: 0;
    box-shadow: none;
    text-align: center;
    background: #191a1c;
}

.thumbnail .more {
    display: block;
    z-index: 4;
    position: absolute;
    top: -100px;
    left: 50%;
    margin: 0 auto;
    margin-left: -41px;
    width: 80px;
    height: 80px;
    font-size: 40px;
    color: $color-text1;
    text-decoration: none;
    line-height: 70px;
    text-align: center;
}

.thumbnail:hover .more {
    top: 40%;
    margin-top: -40px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3 s ease-out;
    -ms-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.thumbnail h3,
.thumbnail p {
    z-index: 4;
}

.thumbnail h3 {
    color: $color1;
    margin-top: 10px;
    font-size: 20px;
}

.thumbnail>p {
    padding-bottom: 20px;
}

.thumbnail .mask {
    opacity: 0.85;
    filter: alpha(opacity=85);
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: $color2;
    position: absolute;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2 s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.thumbnail:hover .mask {
    top: 0;
}

/*
2.4 Socail icons
************/

.social {
    list-style: none;
    float: none;
    position: relative;
    margin: 5px auto;
}

.social li {
    display: inline-block;
    line-height: 32px;
    font-family: 'Porta';
    font-size: 32px;
    padding: 0 5px;
}

.social li a {
    margin: 0;
    padding: 0;
    width: 32px;
    height: 32px;
    color: $color1;
}

.social li a:hover {
    color: $color2;
}

/*
3. Sections 
***************************************************************************/

.section {
    padding-bottom: 50px;
}

.section .container {
    padding-top: 50px;
}

.section .title {
    text-align: center;
    padding: 10px;
    margin-bottom: 30px;
}

.section .title h1 {
    font-weight: normal;
    margin-bottom: 20px;
    padding: 0;
}

.section .title>p {
    font-size: 20px;
    color: $color-text1;
    font-weight: lighter;
}

.primary-section {
    background: $bg-1;
}

.primary-section .triangle {
    border-top: 40px solid $bg-2;
}

.after-special-blue .triangle {
    border-top: 40px solid #00263b;
}

.primary-section .title {
    border-bottom: 1px solid $color-text1;
}

.primary-section,
.primary-section .title p,
.primary-section h3 {
    color: $color3;
}

.primary-section h1 {
    color: $color-text1;
}

.secondary-section {
    background: $bg-2;
}

.secondary-section .title {
    border-bottom: 1px solid $color2;
}

.secondary-section h1,
.secondary-section .title p {
    color: $color3
}

/* Third section use bacground image */

.third-section {
    padding-bottom: 70px;
    background: $color2 url(../images/brand-bg.png) no-repeat center;
    border-top: 6px solid $color1;
}

.third-section .container {
    padding-top: 20px;
    position: relative;
}

.third-section .title {
    border-bottom: 1px solid #A1AAB7;
    color: $color1;
}

.sub-section {
    margin-top: 30px;
}

.sub-section .title {
    padding: 0;
}

/*******
3.1 Services  
***************************************/

.service {
    margin-top: 20px;
}

.service,
.service h2 {
    padding-top: 15px;
}

.service p {
    padding: 0px 50px;
    height: 60px;
}

.service img {
    width: 150px;
    height: 150px;
}

/*
3.2 Portfolio
***************************************/

.single-project {
    margin-bottom: 30px;
    background: $color2;
}

.single-project img {
    width: 100%;
}

.project-description {
    padding-right: 20px;
}

.project-description p {
    padding-left: 0;
}

.project-title {
    margin-top: 15px;
    margin-bottom: 15px;
    border-bottom: 1px solid $color1;
}

.project-title h3 {
    float: left;
    margin-top: 0;
    padding: 0;
    width: 80%;
}

.project-title .close {
    color: $color1;
    margin-top: 10px;
}

.project-info span,
.project-title h3 {
    color: $color1;
}

.project-info {
    font-weight: 100;
    padding: 10px 0;
}

.project-info span {
    width: 80px;
    display: inline-block;
}

.project-info div {
    margin-bottom: 5px;
}

.close {
    float: right;
    width: 40px;
    height: 40px;
    text-align: center;
}

/*
3.3 About
******************************************************************/

.team .thumbnail {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 10px;
    border: 1px solid $color-text1;
}

.team .thumbnail:hover .social {
    z-index: 5;
}

.team .thumbnail:hover .social a {
    color: $color-text1;
}

.team .thumbnail .mask {
    background: $color3;
    color: $color1;
}

.team .thumbnail .mask h2 {
    margin-top: 20%;
}

.team .thumbnail .mask,
.team .thumbnail .mask h3,
.team .thumbnail .mask p,
.team .thumbnail:hover h3,
.team .thumbnail:hover .social a:hover {
    color: $color1;
}

.about-text {
    margin-top: 30px;
}

.about-text p {
    padding: 0;
    font-size: 16px;
}

/*********************************************************************
                        SKILLS BAR
*********************************************************************/

.skills {
    list-style-type: none;
    position: relative;
    margin: 0px;
}

.skills li {
    margin-bottom: 30px;
    background: $color-text1;
    height: 40px;
    padding: 1px;
}

.skills li h3 {
    position: relative;
    font-size: 15px;
    padding: 0;
    margin: 0;
    left: 10px;
    z-index: 1;
    color: $color2;
}

.skills li .bar {
    height: 40px;
    position: absolute;
    background-color: $color1;
}

/*
3.4 Clients
**********************************************************************/

.client-slider img {
    border: 1px solid white;
}

.client-slider img:hover {
    background-color: $color1;
}

.client-nav {
    list-style: none;
    margin-top: 10px;
}

.client-nav li {
    float: left;
    display: block;
    margin-left: 10px;
}

.client-nav li a {
    display: inherit;
    padding: 5px;
    background: $color1;
    border-radius: 3px;
    width: 20px;
    height: 20px;
}

.team {
    position: relative;
}

@media (max-width: 575.98px) {
    .client-nav {
        display: none;
    }
}

#client-next {
    position: absolute;
    z-index: 10;
    top: 37%;
    right: 0;
}

#client-prev {
    position: absolute;
    z-index: 10;
    top: 37%;
    left: 0;
}

.client-nav li a:hover {
    background: $color2;
}

.testimonial p {
    color: $color2;
    background: $color1;
    padding: 15px;
    margin: 0;
}

.testimonial .arrow {
    margin-left: 10px;
    width: 0;
    border-top: 10px solid $color1;
    border-left: 20px outset transparent;
    border-right: 20px outset transparent;
}

.testimonial .whopic {
    display: inline-block;
}

.testimonial .whopic img {
    margin-top: 10px;
    width: 50px;
    height: 50px;
    float: left;
}

.testimonial .whopic strong {
    float: left;
    margin-top: 10px;
    padding-left: 10px;
}

.testimonial .whopic small {
    display: block;
    font-size: 12px;
}

.testimonial-text {
    display: block;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    width: 70%;
    line-height: 1.3em;
}

/*
3.5 Price table
******************************************************************/

.price-table {
    margin-top: 70px;
    margin-bottom: 20px;
}

/*
3.6 Newsletter
********************************************************************/

.newsletter,
.newsletter h2 {
    color: #D7DDDE;
}

.newsletter .title h2 {
    text-align: left;
    padding: 0;
    margin: 0;
}

.newsletter form {
    text-align: right;
}

.newsletter input {
    margin-top: 10px;
    padding: 15px;
    height: auto;
}

.newsletter button {
    margin: 0 0 0 20px;
}

.newsletter .button-sp:hover,
.newsletter .button-sp:active {
    background-color: $color-text1;
    color: $color2;
}

/*
3.7 Contact
********************************************************************/

.contact {
    background: $color1;
}

.contact h1,
.contact h2,
.contact h3,
.contact h4,
.contact h5,
.contact h6,
.contact .section .title>p,
.contact .social>li>a {
    color: $color2;
}

.contact textarea,
.contact input[type="text"],
.contact input[type="email"] {
    padding: 10px;
    line-height: 20px;
    height: auto;
}

.contact textarea {
    height: 120px;
}

.contacts,
.contact .social {
    color: $color-text1;
    list-style: none;
    margin-left: 10px;
}

.contacts>li {
    margin-top: 15px;
}

.contacts>li>a {
    color: $color-text1;
}

.contact-info {
    margin-top: 10px;
    margin-bottom: 10px;
}

.contact-info p {
    font-weight: normal;
}

.contact-info .icon {
    margin: 10px auto;
    font-size: 30px;
}

.map-wrapper {
    position: relative;
    height: 500px;
}

.map-canvas {
    position: absolute;
    margin-bottom: 20px;
    width: 100%;
    height: 500px;
    color: #29383F;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
}

.contact .social {
    display: inline-block;
    margin-left: 0;
}

.contact .social li {
    line-height: 32px;
    padding: 10px 10px;
    font-family: 'Porta';
    font-size: 50px;
    transition: margin 0.4s;
    -webkit-transition: margin 0.4s;
}

.contact .social li a {
    color: $color-text1;
}

.contact .social li a:hover {
    color: $color2;
}

.contact-form {
    background: $bg-1; // z-index: 110;
    @media (max-width: 767px) {
        width: 100%;
    }
    width: 50%;
    position: relative;
    margin-top: -25px;
    padding: 20px;
    .cluster-input {
        width: 96%;

        font-size: 17px;
        line-height: 1.15;
        border-radius: 0;
        min-height: 25px;
        color: $color3;
        &::placeholder {
            color: $color3;
        }
    }
}

.contact-form h3 {
    padding-bottom: 20px;
}

.message-btn {
    color: $color1;
    background: $color3;
    padding: 15px 30px;
    font-size: 17px;
    border: none;
    &:hover {
        // background-color: lighten($color: $color2, $amount: 15);
        color: darken($color: $color1, $amount: 15);
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    }
}

.contact-info {
    text-align: center;
    font-size: 22px;
}

.info-mail {
    border: 1px solid white;
    width: 60%;
    margin: 0 auto;
    padding: 15px;
    color: $color2;
}

.black {
    color: $color2;
}

/*
3.8 Footer
********************************************************************/

.footer {
    background: $bg-1;
    text-align: center;
}

.footer>p {
    color: $color-text1;
    margin: 0;
}

.footer a {
    color: $color1;
}

.footer a:hover,
.footer a:focus {
    text-decoration: underline;
}

.scrollup {
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    width: 39px;
    height: 39px;
    border-radius: 5px;
    font-size: 20px;
    position: fixed;
    bottom: 30px;
    right: 20px; // border: 1px solid $color-text1;
    display: none;
    background: $color3;
}

.scrollup>a {
    position: relative;
    top: 7px;
    color: $color1;
}

/*
4 Responsible
********************************************************************/

@media (min-width: 1200px) {
    .thumbnail .more {
        margin-left: -41px;
        width: 80px;
        height: 80px;
        border-radius: 40px;
        line-height: 80px;
    }
}

@media (max-width: 979px) {
    body {
        padding-left: 0;
        padding-right: 0;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom {
        position: fixed;
    }
    .navbar .nav>li>a {
        line-height: 20px;
        vertical-align: middle;
    }
    .section {
        padding-left: 20px;
        padding-right: 20px;
    }
    .navbar-fixed-top,
    .navbar-fixed-bottom,
    .navbar-static-top {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-collapse {
        clear: both;
    }
    .nav-collapse .nav {
        float: none;
        margin: 0 0 10px;
    }
    .nav-collapse .nav>li {
        float: none;
    }
    .nav-collapse,
    .nav-collapse.collapse {
        width: 100%;
        display: inherit;
    }
    .thumbnail .more {
        margin-left: -21px;
        width: 40px;
        height: 40px;
        border-radius: 30px;
        line-height: 40px;
    }
    .thumbnail:hover .more {
        margin-top: -20px;
    }
    .newsletter form {
        text-align: center;
    }
}

@media (max-width: 767px) {
    .info-mail {
        width: 90%;
        padding: 15px 0px;
    }
    .project-description {
        padding-left: 20px;
    }
}

#home {
    background-image: url("../src/images/dist/bg-blue.jpg");
    background-repeat: repeat;
    background-size: 19%;
    color: $color1;
    p {
        color: $color1;
    }
}

#home .title {
    border-bottom: none;
}

#home .title h1 {
    font-size: 81px;
}

#home .title-one {
    margin-top: 60px;
}

#home .hero-hero {
    font-size: 16.333333em;
}

.title-ponctuation {
    font-size: 70px;
}

.title-ponctuation.yellow {
    color: $color2;
}

.red {
    color: $color2;
}

.title-ponctuation.black {
    color: $color2;
}

.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#missions {
    .mission_list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        .mission_item {
            @media (min-width: 767px) {
                background: $color3;
                color: $color1;
                h3 {
                    color: $color1;
                }
            }
            margin-left: 10px;
            margin-bottom: 10px;
            width: 40%;
            position: relative;
            .hero {
                font-size: 4px;
                &.bottom {
                    @media (max-width: 767px) {
                        bottom: -27px;
                        right: 47%;
                    }
                    position: absolute;
                    bottom: 5px;
                    right: 44%;
                }
            }
            @media (max-width: 767px) {
                width: 100%;
            }
        }
    }
    .service .mission_line {
        height: auto;
        padding-bottom: 15px;
        &:not(:last-child) {
            &::after {
                content: "";
                width: 20%;
                margin: auto;
                margin-top: 25px;
                border-bottom: 1px solid $color1;
                display: block;
                @media (max-width: 767px) {
                    border-bottom: 1px solid $color3;
                }
            }
        }
    }
}

#missions .service .fas {
    font-size: 40px;
}

#notYet {
    .community_item {
        background: $color3;
        color: $color1;
    }
}

.community_item {
    padding: 15px;
    background: $bg-1; // margin-bottom: 25px;
    width: 25%;
    margin: 10px;
    p {
        padding: 0;
    }
    @media (max-width: 767px) {
        width: 100%;
    }
    .community_item_title {
        font-weight: 600;
        font-size: 22px;
    }
}

.community_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cake-list {
    margin-top: 55px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px;
    .cake-item {
        padding: 15px; // width: 25%;
        text-align: center;
        margin: 10px;
        width: 15%;
        @media (max-width: 767px) {
            width: 100%;
            &.cherry {
                margin-top: 70px;
            }
        }
        @media (max-width: 900px) {
            width: 100%;
            &.cherry {
                margin-top: 70px;
            }
        }
        margin-top: 20px;
    }
    .hero-cake {
        font-size: 10px;
    }
    .hero-cherry {
        font-size: 4px;
        color: $color2;
    }
}

.neon {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: none;
    color: $color1;
    text-decoration: normal;
    text-align: center;
    -o-text-overflow: clip;
    text-overflow: clip;
    text-shadow: 0 0 20px $color1, 0 0 30px $color1, 0 0 40px $color1, 0 0 50px $color2, 0 0 80px $color2, 0 0 90px $color2, 0 0 30px $color2;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.neon:hover {
    text-shadow: 0 0 20px $color2, 0 0 30px $color2, 0 0 40px $color1, 0 0 50px $color1, 0 0 80px $color1, 0 0 90px $color1, 0 0 120px $color1;
}

#how ul {
    list-style: none;
}

.color1 {
    color: $color1;
}

.color2 {
    color: $color2;
}

.color3 {
    color: $color3;
}

.bg1 {
  color: $bg-1;
}

.list-how {
    li {
        padding: 45px 00 45px 65px;
        @media (max-width: 767px) {
            padding: 45px 00 45px 45px;
        }
        font-size: 25px;
        font-weight: 500;
        position: relative;
        .hero {
            font-size: 4px;
            padding-bottom: -5px;
            padding: 5px;
            display: inline-block;
            margin-top: -6px;
            display: inline-block;
            position: absolute;
            left: 0;
            top: 60px;
        }
    }
    .fas {
        margin-right: 10px;
        display: inline-block;
    }
}

#how h3 {
    font-size: 46px;
}

.how-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.home-image {
    width: 300px;
    color: $color1;
}

@media (min-width: 500px) {
    .home-image-container {
        padding-left: 167px;
    }
}

.home-image-container {
    text-align: center;
}

#notYet .footer {
    color: $color1;
}

@media (min-width: 500px) {
    .conact-image-container {
        padding-left: 121px;
    }
}

@media (max-width: 768px) {
    #home .title h1 {
        font-size: 45px;
    }
}

#contact {
    .list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        div {
            width: 30%;
            @media (max-width: 768px) {
                width: 100%;
            }
            padding: 10px;
            text-align: center;
        }
    }
}

#who {
    .empty-icon {
        height: 32px;
    }
    .hero-name {
        color: $color1;
    }
}

.bx-wrapper {
    .list-technos {
        padding: 10px;
        font-size: 42px;
    }
    .who_footer {
        font-style: italic;
        font-size: 16px;
        position: absolute;
        bottom: 0;
        margin-bottom: 42px;
        a {
            @include neon(#FDD835,
            $color1);
        }
    }
}

.no-wrap {
    white-space: nowrap;
    display: inline-block;
}

.navbar-fixed-top .navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
}

.navbar-fixed-top {
    height: 55px;
    min-height: 55px;
}

.special-blue {
    .title h1,
    h3, p {
        color: $color1 !important;
    }
    .title {
        border-bottom: 1px solid $color1;
    }
    background: #00263b;
    color: $color1;
}

.hiway {
    color: #fbd236;
    font-size: 30px;
    line-height: 30px;
}

.brand {
    @media screen and (min-width: 979px) and (max-width: 1084px) {
        display: none !important;
    }
}

blockquote {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    .inner-cote {
        position: relative;
        font-style: italic;
        width: auto;
        &::after,
        &::before {
            color: $color3;
            content: '“';
            font-size: 2em;
            position: absolute;
        }
        &::before {
            top: -15px;
            left: 0;
        }
        &:after {
            bottom: -20px;
            right: 0;
        }
    }
    .author {
        font-size: 12px;
        position: absolute;
        bottom: -30px;
        right: 35px;
    }
}

.contact-hiway {
    margin-top: 20px;
    p {
        padding: 0px;
        a {
            &:hover {
                color: $color2;
            }
        }
    }
}

.image-container {
    // height: 267px;
}
.bx-pager {
  &.bx-pager {
    @media (max-width: 768px) {
      bottom: -40px ;
      width: 117%;
      right: -15px;
    }
  }
}


.notification {
    padding: 10px;
    margin: 10px 0 10px 0;
}

#errorSend {
    background: $color2;
    color: $color1;
}

.g-recaptcha {
    &> div {
        width: 100%!important;
    }
    margin-bottom: 10px;
}